#about-wrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  color: var(--secondary-color);
}

#about-column-wrapper {
  display: flex;
  gap: 4rem;
  font-size: 24px;
}

#developed-by {
  display: flex;
  flex-direction: column;
}

#developed-by a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#about-wrapper a {
  text-decoration: none;
  color: var(--secondary-color);
}

#about-wrapper a:hover {
  filter: saturate(200%);
  text-decoration: underline;
  text-decoration-style: wavy;
}

#project-code {
  display: flex;
  flex-direction: column;
}

#project-repo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#social-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
}
