#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  color: var(--secondary-color);
}

.log-in-label {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.log-in-label-text {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

#log-in-form-btn {
  background-color: var(--primary-color);
  height: 4rem;
  width: 15rem;
  border-radius: 30px;
  border: none;
  color: var(--button-font-color);
  font-size: 18px;
  margin-top: 1rem;
}

#log-in-form-btn:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}

.log-in-input {
  width: 20rem;
  height: 2rem;
  font-size: 18px;
}

#log-in-demo {
  background-color: var(--accent-color);
  height: 4rem;
  width: 15rem;
  border-radius: 30px;
  border: none;
  color: var(--button-font-color);
  font-size: 18px;
  margin-top: 1rem;
}

#log-in-demo:hover {
  cursor: pointer;
  background-color: var(--accent-hover);
}
