#reaction-wrapper {
  max-width: 70vh;
  min-width: 40rem;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-gutter: auto;
  background-color: #e9cab9;
  border-radius: 20px;
}

#input-wrapper {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  border-bottom: 1px solid black;
}

#reaction-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#emoji-input {
  height: 6rem;
  width: 30rem;
  border-inline: none;
  border-top: none;
  border-bottom: 1px solid black;
  background-color: #e9cab9;
  font-size: 4rem;
}

#emoji-input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

#reaction-submit-btn {
  height: 6rem;
  width: 6rem;
  border-inline: none;
  border-top: none;
  border-bottom: 1px solid black;
  background-color: #e9cab9;
}

#reaction-submit-btn > svg {
  height: 3rem;
  width: 3rem;
}

#picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-picker {
  margin: .5rem;
  background-color: #ac442a;
  width: fit-content;
  padding: .5rem;
  color: white;
  border-radius: 10px;
}

#close-picker-main {
  margin: .5rem;
  background-color: #ac442a;
  width: fit-content;
  padding: .5rem;
  color: white;
  border-radius: 10px;
  align-self: flex-end;
}

#close-picker-main:hover {
  cursor: pointer;
}

#close-picker:hover {
  cursor: pointer;
}

#confirm-edit {
  margin: .5rem;
  background-color: #2a6fac;
  width: fit-content;
  padding: .5rem;
  color: white;
  border-radius: 10px;
}

#confirm-edit:hover {
  cursor: pointer;
}

#picker-buttons {
  align-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
