:root {
    --background-color: hsl(21, 52%, 82%);
    --primary-color: hsl(14, 23%, 60%);
    --secondary-color: hsl(12, 16%, 38%);
    --accent-color: hsl(17, 19%, 70%);
    --button-font-color-light: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html {
    background-color: var(--background-color);
}

#landing-wrapper {
    display: flex;
    gap: 1rem;
    height: 100%;
    padding-top: 20rem;
    justify-content: center;
}

#landing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    justify-self: flex-end;
    flex: 1;
}

#logo {
    max-width: 35rem;
    max-height: 35rem;
}

#landing-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-right: 1rem;
    flex: 1;
}

#landing-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.landing-button {
    height: 4.5rem;
    border-radius: 50px;
    border: none;
    width: 28rem;
    font-size: 1.5rem;
}

#landing-sign-up {
    background-color: var(--primary-color);
    color: var(--button-font-color);
}

#landing-sign-up:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
}

#landing-login {
    background-color: var(--accent-color);
    color: white;
}

#landing-login:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
}

#call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30rem;
    padding-inline: 2.5rem;
    gap: 1rem;
}

#slogan {
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
}

#sign-up-text {
    font-size: 30px;
    color: var(--primary-hover);
}

.errors {
    color: red;
}
