#edit-post-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  gap: 2rem;
  color: var(--secondary-color);
}

#file-picker-wrapper {
  display: flex;
  gap: 2rem;
}

#edit-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#edit-post-form > button {
  height: 5rem;
  width: 100%;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  background-color: var(--primary-color);
  color: var(--button-font-color);
}

#edit-post-form > button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

#edit-image-thumb {
  border: 1px solid var(--secondary-color);
  height: 10rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

#edit-image-thumb:hover {
  cursor: pointer;
}

.image-thumb {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 15px;
}

#file-picker-wrapper {
  display: flex;
  width: fit-content;
  gap: 2rem;
}

#edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
