#edit-post-form-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #e9cab9;
}

#file-upload-wrapper {
  display: flex;
  gap: 2rem;
}

#edit-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
}

#edit-post-form > button {
  height: 3rem;
  width: 8rem;
  border-radius: 30px;
  border: none;
  background-color: #705852;
  color: white;
}

#edit-post-form > button:hover {
  cursor: pointer;
  background-color: #3c2f2c;
}

#edit-image-thumb {
  border: 1px solid #3c2f2c;
  height: 10rem;
  aspect-ratio: 1;
}

.image-thumb {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

#file-picker-wrapper {
  display: flex;
  align-items: center;
}

#edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
