.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#post-info {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#post-btn-wrapper {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

#post-update:hover {
  color: blue;
  cursor: pointer;
}

#post-delete:hover {
  color: red;
  cursor: pointer;
}

.author-icon {
  aspect-ratio: 1;
  height: 3rem;
  border-radius: 50%;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.post-image {
  width: 50rem;
  border-radius: 20px;
}

.post-wrapper {
  padding-block: 3rem;
  padding-inline: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.post-stats {
  display: flex;
  margin-left: 1rem;
}

#post-stat-reacts {
  display: flex;
  gap: .5em;
}

#post-btn-wrapper {
  display: flex;
  gap: .5em;
  justify-self: flex-end;
}

/* .carousel .thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
} */

.slider {
  border-radius: 20px;
}

.carousel .slider-wrapper {
  border-radius: 20px;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#post-stats-wrapper {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

#post-reactions-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#post-reactions-container svg:hover {
  fill: yellow;
}

#post-likes-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#post-likes-container svg:hover {
  fill: red;
}

#post-stats-wrapper svg:hover {
  cursor: pointer;
}
