.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#post-info {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-color);
}

#post-btn-wrapper {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#post-update:hover {
    color: blue;
    cursor: pointer;
}

#post-delete:hover {
    color: red;
    cursor: pointer;
}

.author-icon {
    aspect-ratio: 1;
    height: 3rem;
    border-radius: 50%;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-image {
    width: 50rem;
    border-radius: 20px;
}

.post-wrapper {
    padding-block: 3rem;
    padding-inline: 2rem;
    border-top: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.post-stats {
    display: flex;
    margin-left: 1rem;
}

#post-stat-reacts {
    display: flex;
    gap: 0.5em;
}

#post-btn-wrapper {
    display: flex;
    gap: 0.5em;
    justify-self: flex-end;
    color: var(--secondary-color);
}

/* .carousel .thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
} */

.carousel-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#post-stats-wrapper {
    width: fit-content;
    display: flex;
    gap: 1rem;
    color: var(--secondary-color);
}

#post-reactions-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#post-reactions-container svg:hover {
    color: yellow;
}

#post-react {
    height: 1.3rem;
    width: 1.3rem;
}

#post-likes-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#post-like {
    height: 1.3rem;
    width: 1.3rem;
}

#post-likes-container svg:hover {
    color: red;
}

#post-stats-wrapper svg:hover {
    cursor: pointer;
}

#post-image-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    height: 30rem;
    border-radius: 30px;
    overflow: hidden;
    gap: 0.4rem;
}

.post-image-wrapper {
    max-height: 30rem;
    transition: all 0.2s ease-in-out;
}

.post-image-wrapper:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#post-image-single {
    grid-column: span 4;
    grid-row: span 2;
}

#post-image-double-0 {
    grid-column: 2 span;
    grid-row: 2 span;
}

#post-image-double-1 {
    grid-column: 2 span;
    grid-row: 2 span;
}

#post-image-triple-0 {
    grid-column: 1 / 2 span;
    grid-row: 2 span;
}

#post-image-triple-1 {
    grid-column: 3 / 5;
    grid-row: 1;
}

#post-image-triple-2 {
    grid-column: 3 / 5;
    grid-row: 2;
}

#post-image-0 {
    grid-column: 2 span;
    grid-row: 2 span;
}

#post-image-1 {
    grid-column: 3 / 5;
    grid-row: 1;
}

#post-image-2 {
    grid-column: 3;
    grid-row: 2;
}

#post-image-3 {
    grid-column: 4;
    grid-row: 2;
}

.author-icon:hover {
    cursor: pointer;
}
