#home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  position: relative;
}

#home-post-container {
  width: 100%;
  height: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-inline: 1px solid var(--secondary-color);
}
