#create-post-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  gap: 2rem;
  color: var(--secondary-color);
}

#create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#create-post-form > button {
  height: 5rem;
  width: 100%;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  background-color: var(--primary-color);
  color: var(--button-font-color);
}

#create-post-form > button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.create-post-thumb {
  border: 1px solid var(--secondary-color);
  height: 10rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.create-post-thumb:hover {
  cursor: pointer;
}

#create-post-img-wrapper {
  display: flex;
  width: fit-content;
  gap: 2rem;
}

.create-post-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 15px;
}

.file-input {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input:focus > label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#image-label {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-start;
}

.image-thumb {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 15px;
}

#title-label {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#title-label-text {
  font-size: 24px;
  font-weight: bold;
}

#title-input {
  width: 45rem;
  height: 4rem;
  font-size: 24px;
}
